@model BlogChallenge.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Html.DisplayFor(model => model.Name) category</h1>

<h3>If you delete this category, the operations linked to it will also be deleted.</h3>
<div>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
