@model BlogChallenge.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Post</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data" class="font-weight-bold">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            &nbsp;
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            &nbsp;
            <div class="form-group">
                <label asp-for="Image" class="control-label">Upload an image</label>
                <input asp-for="Image" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            &nbsp;
            <div class="form-group">
                <label asp-for="Content">Content</label>
                <textarea class="form-control" asp-for="Content" rows="3" cols="5"></textarea>
            </div>
            &nbsp;
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
